<div class="container-app">
  <header>
    <div>
      <!-- <a data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
        <nav class="menu">
          <ul class="collapse list-unstyled" id="pageSubmenu">
              <li>
                  <a href="#">Dashboard</a>
              </li>
              <li>
                  <a href="#">User Information</a>
              </li>
              <li>
                  <a href="#">Revenue</a>
              </li>
          </ul>
        </nav> -->
        any
    </div>
    <div>
      Mis Finanzas Personales
    </div>
    <div>
      Informacion Usuario
    </div>
  </header>
  <section class="content">
      <router-outlet></router-outlet>
  </section>
  <footer><i class="fas fa-cloud"></i> Desarrollado por Cesar Yate, Felipe Mesa</footer>
</div>