@import '../mixin';

.container-app{
    display: flex;  
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

header {   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: lightgray;

    nav {
        padding: 1rem;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        ul {
            display: flex;
            justify-content: flex-end;
            list-style: none;
            padding: 0;
            margin: 0;
        }
    
        li {
            a {
                display: block;
                text-decoration: none;
                padding: .5em 1em;

                // &:hover {
                //     background: $tomato-color;
                //     color: $white-color;
                // }
                // &.active {
                //     background: $tomato-color;
                //     color: $white-color;
                // }
            }
        }
    }
}

.content{
    box-sizing: border-box;
    flex-grow: 1;
    width: 80%;
    padding: 1.5rem;
    align-self: center;

    @include screen(900px, 85%);

    @include screen(700px, 100%);
}

footer {
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    background-color: lightgray;
}

.menu{
    position: relative;
}

.mountain {
    position: absolute;
    left: 50px;
    top: 0;
    padding: 5px;
}

.hamburger{
    background-color:transparent;
	left:0;
	top:0;
	padding: 5px;
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition:-webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	z-index:1002;
	cursor:pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}
.hamburger.is-active{
  background-color:none;
}
._layer{
	background:#333333;
	margin-bottom:4px;
	border-radius:2px;
	width:28px;
	height:4px;
	opacity:1;
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}
.hamburger:hover .-top{
	-webkit-transform:translateY(-100%);
	-ms-transform:translateY(-100%);
	transform:translateY(-100%);
}
.hamburger:hover .-bottom{
	-webkit-transform:translateY(50%);
	-ms-transform:translateY(100%);
	transform:translateY(100%);
	}
.hamburger.is-active .-top{
	-webkit-transform:translateY(200%) rotate(45deg) !important;
	-ms-transform:translateY(200%) rotate(45deg) !important;
	transform:translateY(200%) rotate(45deg) !important;
}
.hamburger.is-active .-mid{
	opacity:0;
}
.hamburger.is-active .-bottom{
	-webkit-transform:translateY(-200%) rotate(135deg) !important;
	-ms-transform:translateY(-200%) rotate(135deg) !important;
	transform:translateY(-200%) rotate(135deg) !important;
}

.list-menu{
    list-style: none;
    padding: 0;
    
    li{
        padding: 1rem;
        text-align: center;
        cursor: pointer;
        
        &.active{
            background-color: #333333;
            color: rgb(255, 255, 255);

            a, a:visited{
                color: white;
            }
        }

        a{
            text-decoration: none;

            &:visited{
                color: #000;
            }
        }
    }

}
