<mat-drawer-container hasBackdrop="true" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="over">
    <ul class="list-menu" *ngIf="isLoggedIn$ | async">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a (click)="close()" [routerLink]="['/dashboard']">Principal</a></li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a (click)="close()" [routerLink]="['/dashboard/revenue']">Registrar Ingresos</a></li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a (click)="close()" [routerLink]="['/dashboard/expense']">Registrar Gastos</a></li>
      <li><a (click)="logout()">Cerrar Sesion</a></li>
    </ul>
  </mat-drawer>

  <div class="container-app">
    <header>
      <div class="menu">
        <div *ngIf="isLoggedIn$ | async" class="hamburger" (click)="drawer.toggle()">
          <div class="_layer -top"></div>
          <div class="_layer -mid"></div>
          <div class="_layer -bottom"></div>
        </div>
        <div class="text-black d-none d-sm-block" [ngClass]="{'mountain': isLoggedIn$ | async}">
          <i class="fas fa-mountain"></i>
        </div>
      </div>
      <div >
        <h1 class="text-black m-0">
          Tus Finanzas
        </h1>
      </div>
      <div class="text-black text-center">
        <div>
          <i class="fas fa-user fa-2x"></i>
        </div>
        <p *ngIf="isLoggedIn$ | async" class="m-0">Informacion Usuario</p> 
      </div>
    </header>

    <section class="content">
      <router-outlet></router-outlet>
    </section>
    <footer>Desarrollado por Grupo 6 U.D.</footer>
  </div>

</mat-drawer-container>