<mat-drawer-container hasBackdrop="true" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <ul>
      <li><a (click)="close()" [routerLink]="['/dashboard']">Principal</a></li>
      <li><a (click)="close()" [routerLink]="['/dashboard/revenue-expense']">Ingresos y Gastos</a></li>
      <li><a (click)="logout()">Cerrar Sesion</a></li>
    </ul>
  </mat-drawer>

  <div class="container-app">
    <header>
      <div class="menu">
        <div *ngIf="isLoggedIn$ | async" class="hamburger" (click)="drawer.toggle()">
          <div class="_layer -top"></div>
          <div class="_layer -mid"></div>
          <div class="_layer -bottom"></div>
        </div>
        <div [ngClass]="{'mountain': isLoggedIn$ | async}">
          <i class="fas fa-mountain"></i>
        </div>
      </div>
      <div>
        Mis Finanzas Personales
      </div>
      <div>
        Informacion Usuario
      </div>
    </header>

    <section class="content">
      <router-outlet></router-outlet>
    </section>
    <footer><i class="fas fa-cloud"></i> Desarrollado por Cesar Yate, Felipe Mesa</footer>
  </div>

</mat-drawer-container>